@media (max-width:1025px) {
  .category_footer > ul:first-child{
    padding-right: 26px;
  }
  ul{
    padding: 0px;
  }
  .col-md-3{
    max-width: 73%;
  }
  .banner__contact .banner__bg{
    height: 415px;
  }
  .contactUsDetail .sec1 .mailText{
    font-size: 28px;
  }
  .c__Img {
    height: 449px;
}
.gallery{
  justify-content: center;
}
.new__carousel{
  padding: 31px;
}

}
@media (max-width:999px) {
  .d-none-mob, .nav-desk{
    display: none !important;
  }
  .d-none-desk{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .d-none-desk a{
    color: #9E9E9E;;
  }
  .category__headerBlk:hover .category__sub{
    display: none;
  }
  .mob{
    display: none;
  }
  .desk{
    display: block;
  }
  .nav > .nav-links{
    padding-top: 0px;
  }
  .nav > .nav-links > a{
    padding-top: 15px;
    padding-left: 20px;

  }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
      /* background: #3E6364; */
    }
    .nav > .nav-links > a{
      color: #fff;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav{
        padding-top: 10px;
    }
    .nav > .nav-links {
      position: fixed;
      display: block;
      width: 100%;
      background: #B30000;
      height: 100vh;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 107px;
      z-index: 9999999;
      text-align: left;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .new__carousel .owl-carousel.owl-drag .owl-item {
      width: 322px !important;
    }
    
    /* .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
     

    } */
    .navB{
        height: 61px;
    }
/* .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      background: #3E6364;
    } */
    .footer__blk{
      flex-wrap: wrap;
    }
    .col-md-3{
      flex: 0 0 81%;
      max-width: 52%;
    }
    .row{
      align-items: center;
      justify-content: center;
    }
    .flexMap{
      flex-direction: column;
      gap: 40px;
  }
  .card__sq{
    width: auto;
  }
  .card__new{
    width: auto;
  }
  .gallery{
  gap: 30px;
  }
}
@media (max-width:600px) {
  .f_category{
    align-items: baseline;
    padding-top: 20px;
  }
  .footer__blk{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .col-md-3{
    max-width: 112%;
  }
  .pages-Blk{
    flex-direction: column;
  }
  .mapSecWrap iframe{
    height: 300px;
    width: 300px;
  }
  .flexMap{
    margin-top: 30px;
  }
  .contactUsDetail .sec1 .mailText {
    font-size: 22px;
}
.banner__contact .banner__bg {
  height: 169px;
}
.contact-heading .small{
  text-align: center;
}
.gallery{

}
.carousel__info{
  height: 450px;
}
.home__banner{
  flex-direction: column-reverse;
}
.carousel__info .c__desc{
  font-size: 28px;
  width: 436px;
}
.carousel__info .c__price{
  font-size: 24px;
}
.carousel__info .c__info{
  font-size: 14px;
}
.new__collection {
  padding-top: 48px;
}
.new__collection .heading{
  font-size: 30px;
}
.new__collection {
  padding-top: 26px;
}
}
@media (max-width:450px) {
  .footer__blk .about .about__text{
    width: 324px;
  }
  .col-md-3 {
    flex: 0 0 108%;
  }
  .nav > .nav-header > .nav-title{
    padding: 8px 10px 10px 10px;
  }
  .mail-icon {
    height: 40px;
    width: 40px;
}
.contactUsDetail{
  gap: 19px;
}
.contact-heading .big{
  font-size: 24px;
}
.contact-heading .small{
  font-size: 18px;
  padding-top: 5px;
}
.mapSecWrap iframe{
  height: 250px;
  width: 250px;
}
.card__about .quality__details{
  width: 282px;
}
.a__profile .a__profile__details, .a__about p, .card__about .quality__details{
  font-size: 16px;
}
.a__profile__heading, .a__buy .heading, .a__about .about__heading{
  font-size: 24px;
  padding-bottom: 7px;
}
.about__wrap{
  padding-top: 10px;
}
.carousel__info .c__desc {
  font-size: 22px;
  width: 236px;
  text-decoration-thickness: 6px;
}
.carousel__info .c__price {
  font-size: 20px;
  
}
.img__wrap img {
  width: 329px;
  height: 329px;
}
.nav > .nav-links{
  top: 60px
}
.img__wrap .title p{
  font-size: 23px;
}
.img__wrap .title {
  position: absolute;
  bottom: 39px;
  left: 18px;
}
}
@media (max-width:375px) {
  .carousel__info{
    padding-left: 32px;
  }
  .card__sq{
    height: 190px;
  }
  .card__name{
    font-size: 19px;
  }
  .card__price{
    font-size: 25px;
  }
  .col-md-3 {
    max-width: 85%;
}
.cat__blk .owl-carousel .owl-item img{
  width: 100% !important;
}
.card-body, .card{
  width: auto;
}
.contactUsDetail .sec1 .mailText {
  font-size: 16px;
}
.mapSecWrap iframe{
  height: 220px;
  width: 220px;
}
.banner__contact .banner__bg {
  height: 119px;
}
.header__contact p{
  padding-left: 30px;
  float: left;
  font-size: 14px;
}
.headerFirstWrap{
  height: 45px;
}
.row{
  gap: 30px;
}
.reviewsPaginationWrap{
  margin-right: 0px;
}
.new__carousel {
  padding: 1px;
}
}